@using System.Globalization;
@{
    ViewBag.Title = "Home Page";
int count = 0;
Random rand = new Random();
}

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    @foreach (var item in ViewBag.ListProduct)
    {
        string imagesurl = @item.Pro_Image;
        imagesurl = imagesurl.Split('$').First();   
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/images/Products/@imagesurl" alt="" height="300" />
                        <h2>@item.Pro_Price.ToString("C0", new CultureInfo("vi-VN"))</h2>
                        <p>@item.Pro_Name</p>
                        <a href="/Detail/Index/@item.Pro_Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@item.Pro_Price.ToString("C0", new CultureInfo("vi-VN"))</h2>
                            <p>@item.Pro_Name</p>
                            <a href="/Detail/Index/@item.Pro_Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
<div class="category-tab">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#sport" data-toggle="tab">Sport</a></li>
            <li><a href="#fashion" data-toggle="tab">Fashion</a></li>
            <li><a href="#kid" data-toggle="tab">Kids</a></li>
            <li><a href="#men" data-toggle="tab">Men</a></li>
            <li><a href="#women" data-toggle="tab">Women</a></li>
        </ul>
    </div>

</div>
