@model IEnumerable<EShop.Models.Accounts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acc_UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acc_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.Cus_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Acc_UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acc_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.Cus_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Acc_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Acc_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Acc_Id })
        </td>
    </tr>
}

</table>
